* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-rows: 80px 1fr auto;
    text-decoration: none;
    list-style: none;
}

header {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    height: 80px;
    background-color: #FFF5E4;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFF5E4;
    color: black;
    gap: 15%;
    font-family: 'Montserrat', sans-serif;
}


/*ÉSTA ES LA NAVBAR*/

.nav {
    grid-column: 4/9;

}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    list-style-type: none;

}

.navbar li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    padding-left: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.navbar a {
    text-decoration: none;
    list-style: none;
    font-weight: 800;
}

.main-index,
.main-prod,
.main-deli,
.main-nos,
.main-combo {
    background-color: #FF9494;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../assets/img/fondo-little.jpg);
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* ÉSTE ES EL INDEX */

.strong {
    color: #FFF5E4;
    font-weight: bold
}

.sectionLogo {
    display: grid;
    grid-column: 4/6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionPrincipal {
    display: grid;
    grid-column: 4/6;
    grid-row: 2/3;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.sectionPrincipal2 {
    display: grid;
    grid-column: 4/6;
    grid-row: 3/4;
    flex-direction: column;
    justify-content: center;
}

.sectionFinal {
    display: grid;
    grid-row: 3/4;
    grid-column: 5/7;
    font-size: 105%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionFoin {
    display: flex;
    align-items: center;
}

.sectionFome {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionFofi {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* PÁGINA NOSOTROS  */

.info-nos {
    display: grid;
    grid-row: 1;
    grid-column: 3/5;
    justify-content: center;
    align-items: center;
}

.info-nos2 {
    display: grid;
    grid-row: 3/5;
    grid-column: 2/7;
    justify-content: center;
    align-items: center;
}

.img-nos {
    display: grid;
    grid-row: 2;
    grid-column: 2/3;
}

.img-nos2 {
    display: grid;
    grid-row: 2;
    grid-column: 5/6;
}

/* ACÁ EMPIEZAN LAS CARD DE PRODUCTOS */

.card-tortas {
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 5%;
}

.card-img1 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.card-content1 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-muffins {
    display: grid;
    grid-row: 1/2;
    grid-column: 5/6;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 5%;
}

.card-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;

}


.card-content2 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-minitorta {

    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    ;

}

.card-img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;

}


.card-content3 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-macarons {

    display: grid;
    grid-row: 2/3;
    grid-column: 5/6;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    ;

}

.card-img4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;

}


.card-content4 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-facturas {

    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    ;

}

.card-img5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;

}


.card-content5 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-helado {
    display: grid;
    grid-row: 3/4;
    grid-column: 5/6;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    ;
}

.card-img6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}


.card-content6 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

/* ACÁ EMPIEZAN LAS CARDS DE COMBOS */

.card-combo1 {
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 5%;
}

.card-combimg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}


.card-combcontent1 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-combo2 {
    display: grid;
    grid-row: 1/2;
    grid-column: 5/6;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 5%;
}

.card-combimg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}


.card-combcontent2 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-combo3 {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    ;
}

.card-combimg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}


.card-combcontent3 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-combo4 {
    display: grid;
    grid-row: 2/3;
    grid-column: 5/6;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}

.card-combimg4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}


.card-combcontent4 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-combo5 {
    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}

.card-combimg5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}


.card-combcontent5 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.card-combo6 {
    display: grid;
    grid-row: 3/4;
    grid-column: 5/6;
    justify-content: center;
    align-items: end;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}

.card-combimg6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}


.card-combcontent6 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

/* FORM DELIVERY */

.section-form{
    display: grid;
    grid-row: 2/3;
    grid-column: 2;
    justify-content: center;
    align-items: end;
}
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.section-exp{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}