@media(max-width:625px) {
    .hero{
        width: 100vw;
        height: 100vw;
    }
    header {
        .navbar {

            font-size: 20px;

            .container-fluid {
                background-color: #FFF5E4;

            }
        }

        .navbar {

            font-size: 20px;
        }

        .nav {
            grid-column: 2/5;

            .navbarb {
                gap: 6%;

                li {
                    font-size: 12px;
                }
            }

        }
    }

    .main-index {

        .sectionLogo {
            grid-column: 4/5;
        }

        .sectionPrincipal {
            grid-column: 2/6;
            grid-row: 2/3;
            flex-direction: column;
            justify-content: center;
            align-items: end;
        }

        .sectionPrincipal2 {

            grid-column: 2/6;
            grid-row: 3/4;
            flex-direction: column;
            justify-content: center;
        }
    }

    .main-prod {
        .card-muffins {
            display: grid;
            grid-row: 4/5;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-top: 5%;
            margin-left: 5%;

            .card-img2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }

            .card-content2 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }

        .card-tortas {
            display: grid;
            grid-row: 1/2;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-top: 5%;
            margin-left: 5%;

            .card-img1 {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            .card-content1 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }

        .card-minitorta {

            display: grid;
            grid-row: 2/3;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-left: 5%;

            .card-img3 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }

            .card-content3 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }

        .card-macarons {

            display: grid;
            grid-row: 5/6;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-left: 5%;

            .card-img4 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }

            .card-content4 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }

        .card-facturas {

            display: grid;
            grid-row: 3/4;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-left: 5%;

            .card-img5 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }

            .card-content5 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }

        }

        .card-helado {
            display: grid;
            grid-row: 6/7;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-left: 5%;

            .card-img6 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }


            .card-content6 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }


        }
    }

    .main-nos {
        .info-nos {
            display: grid;
            grid-row: 1/2;
            grid-column: 2/3;
            justify-content: center;
            align-items: center;
            margin-top: -40px;
        }

        .info-nos2 {
            display: grid;
            grid-row: 4/5;
            grid-column: 1/3;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            margin-top: -150px;
            
        }

        .img-nos {
            display: grid;
            grid-row: 2;
            grid-column: 2/3;
            margin-top: -30%;
        }

        .img-nos2 {
            display: none;
            // display: grid;
            // grid-row: 3;
            // grid-column: 2/3;
            // margin-top: -10%;
        }
    }
    .main-combo {
        .card-combo1 {
            display: grid;
            grid-row: 1/2;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-top: 5%;
            margin-left: 5%;
    
            .card-combimg1 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }
    
            .card-combcontent1 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }
    
        .card-combo2 {
            display: grid;
           grid-row: 4/5;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-top: 5%;
            margin-left: 5%;
            .card-combimg2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }
    
            .card-combcontent2 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }
    
        .card-combo3 {
            display: grid;
            grid-row: 2/3;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-left: 5%;
    
            .card-combimg3 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }
    
            .card-combcontent3 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }
    
        .card-combo4 {
            display: grid;
            grid-row: 5/6;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-left: 5%;
            .card-combimg4 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }
    
            .card-combcontent4 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }
    
        .card-combo5 {
            display: grid;
            grid-row: 3/4;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-left: 5%;
            .card-combimg5 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }
    
            .card-combcontent5 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }
    
        .card-combo6 {
            display: grid;
             grid-row: 6/7;
            grid-column: 2/3;
            justify-content: center;
            align-items: end;
            max-width: 360px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px black;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            margin-left: 5%;
            .card-combimg6 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                object-fit: contain;
            }
    
            .card-combcontent6 {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px
            }
        }    
}
footer {
    .sectionFinal {
        grid-row: 3/4;
        grid-column: 4/7;
        font-size: 105%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
       
    }

    .sectionFoin {
        align-items: center;
        font-size: 70%;
    }

    .sectionFofi {        
        justify-content: end;
        align-items: center;
        font-size: 10px;
        padding-left: -25px;
    
    }
}
}