footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $background-principal;
    color: black;
    gap: 15%;
    font-family: 'Montserrat', sans-serif;

    .sectionFoin {
        padding-left: 5px;
        @include flex(none, none, none, center);
    }

    .sectionFome {
        gap: 20px;
        @include flex(none, none, center, center);
    }

    .sectionFofi {
        @include flex(none, none, center, center);
    }
}